<!-- <div class="border p-4 rounded-lg shadow-md">
    <h3 class="font-semibold text-lg">Order #{{ order.order_id }}</h3>
    <p class="text-gray-600">User ID: {{ order.user_id }}</p>
    <p class="text-gray-600">Status: {{ order.status }}</p>
    <p class="text-gray-600">Total Price: ${{ order.totalPrice }}</p>
    <button (click)="onDelete()" class="mt-2 bg-red-600 text-white px-4 py-2 rounded">
        Delete Order
    </button>
</div> -->


<div class="border p-4 rounded-lg shadow-md">
    <!-- Display the image of the first book or a placeholder -->
    @if (order.books.length > 0) {
    <img [src]="order.books[0].image || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgUfwRTH-egkhJgeJJRY-TvGpTf_QlvASe9A&s/150'"
        alt="Book Cover" class="w-24 h-32 object-cover mb-4 rounded-lg hover:opacity-75"
        (click)="navigateToOrderDetails()">
    }

    <h3 class="font-semibold text-lg">Order #{{ order.order_id }}</h3>
    <p class="text-gray-600">User ID: {{ order.user_id }}</p>
    <p class="text-gray-600">Status: {{ order.status }}</p>
    <p class="text-gray-600">Total Price: ${{ order.totalPrice }}</p>
    <button (click)="onDelete()" class="mt-2 bg-red-600 text-white px-4 py-2 rounded">
        Delete Order
    </button>
</div>