<section class="py-12 sm:py-20"> 
  <div class="container mx-auto px-4">
    <nav class="flex">
      <ol role="list" class="flex items-center">
        <li class="text-left">
          <div class="-m-1">
            <a href="#" class="rounded-md p-1 text-sm font-medium text-orange-600 focus:text-orange-900 focus:shadow hover:text-orange-800"> Home </a>
          </div>
        </li>

        <li class="text-left">
          <div class="flex items-center">
            <span class="mx-2 text-orange-400">/</span>
            <div class="-m-1">
              <a href="#" class="rounded-md p-1 text-sm font-medium text-orange-600 focus:text-orange-900 focus:shadow hover:text-orange-800"> Books </a>
            </div>
          </div>
        </li>
      </ol>
    </nav>

    <div class="lg:col-gap-12 xl:col-gap-16 mt-8 grid grid-cols-1 gap-12 lg:mt-12 lg:grid-cols-5 lg:gap-16">
      <div class="lg:col-span-3 lg:row-end-1">
        <div class="lg:flex lg:items-start">
          <div class="lg:order-2 lg:ml-5">
            <div class="max-w-xl overflow-hidden rounded-lg">
              <img class="h-full w-full max-w-full object-cover" [src]="book?.image" alt="" />
            </div>
          </div>

          <div class="mt-2 w-full lg:order-1 lg:w-32 lg:flex-shrink-0">
            <div class="flex flex-row items-start lg:flex-col">
              <button type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-orange-900 text-center">
                <img class="h-full w-full object-cover" [src]="book?.image" alt="" />
              </button>
              <button type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-transparent text-center">
                <img class="h-full w-full object-cover" [src]="book?.image" alt="" />
              </button>
              <button type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-transparent text-center">
                <img class="h-full w-full object-cover" [src]="book?.image" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="lg:col-span-2 lg:row-span-2 lg:row-end-2">
        <h1 class="sm: text-2xl font-bold text-orange-900 sm:text-3xl">{{ book?.title }}</h1>
        <span>Author:</span><span class="sm: text-xl font-bold text-orange-900 sm:text-xl"> {{book?.author}}</span>
        <div>
          @if(book.stock > 0){
          <span class="text-black bg-green-300 rounded px-2 text-sm object-right">In Stock</span>
          }@else {
          <span class="text-black bg-red-400 rounded px-2 text-sm">Out of Stock</span>
          }
        </div>
        <div class="mt-10 flex flex-col items-center justify-between space-y-4 border-t border-b py-4 sm:flex-row sm:space-y-0">
          <div class="flex items-end">
            <h1 class="text-3xl font-bold">${{book?.price}}</h1>
          </div>
          <button type="button" class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-orange-900 bg-none 
          px-12 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-orange-800" (click)="addToCart($event, book.book_id)">
            <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mr-3 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
            </svg>
            Add to cart
          </button>
        </div>

        <ul class="mt-8 space-y-2">
          <li class="flex items-center text-left text-sm font-medium text-orange-600">
            <svg class="mr-2 block h-5 w-5 align-middle text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" class=""></path>
            </svg>
            Free shipping worldwide
          </li>

          <li class="flex items-center text-left text-sm font-medium text-orange-600">
            <svg class="mr-2 block h-5 w-5 align-middle text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" class=""></path>
            </svg>
            Cancel Anytime
          </li>
        </ul>
        <div class="mt-10 flex flex-col items-center justify-between space-y-4 border-t border-b py-4 sm:flex-row sm:space-y-0">
          <div>
            <span class="sm: text-xl font-bold text-orange-900 sm:text-xl">Book Description:</span>
            <p class="text-orange-800 text-m mt-2">
              {{ book?.description }}
            </p>
          </div>
        </div>
        
      </div>
      

      <div class="lg:col-span-3">
        <div class="border-b border-orange-300">
          <nav class="flex gap-4">
            <a title="" class="border-b-2 border-orange-900 py-4 text-sm font-medium text-orange-900 hover:border-orange-400 hover:text-orange-800"> Description </a>
          </nav>
        </div>

        <div class="mt-8 flow-root sm:mt-12">
          <h1 class="text-3xl font-bold">Delivered To Your Door</h1>
          <p class="mt-4">Enjoy the convenience of having your favorite books delivered straight to your doorstep.  We offer fast and reliable shipping, so you can start reading sooner.</p>
          <h1 class="mt-8 text-3xl font-bold">Discover Your Next Favorite Read</h1>
          <p class="mt-4">Explore our handpicked selection of bestselling novels, hidden gems, and literary classics.</p>
          <p class="mt-4">Enjoy personalized recommendations, fast shipping, and exceptional customer service.  We're here to help you find the perfect book.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <app-review [bookId]="book.book_id"></app-review>

</section>
